* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse, #CD994B, #140E06);
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  background-color: #E1C293;
  width: 476px;
  height: 615px;
  border-radius: 12px;
  box-shadow: 0px 25px 121px rgba(0, 0, 0, 0.5);
}

.counter__title {
  font-size: 32px;
  color: #845E25;
  opacity: 0.6;
  width: 200px;
  font-weight: 500
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 0.9;
  margin-bottom: 20px;
}

.counter__value {
  font-size: 200px;
  color: #845E25;
  font-weight: 600;
  martgin-top: 10px;
  margin-bottom: 20px;
}

.counter__reset-button {
  color: #845E25;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.counter__reset-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  opacity: 0.3;
  font-size: 35px;
}

.counter__reset-button:hover {
  color: #845E25;
  opacity: 0.6;
}
.counter__reset-button:active {
  transform: translateY(2px);
}
.counter__reset-button:focus {
  outline: none;
}

.counter__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 116px
  margin-top: auto;
  background-color: #140E06;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;
}

.counter__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: #F9F4EB;
}

.counter__button {
  display: flex;
  justify-content: center;
  align-items: center;;
  color: #F9F4EB;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.counter__button:hover {
  color: #140E06;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .counter {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .counter__title {
    margin-top: 100px;
  }
  .counter__value {
    font-size: 150px;
    margin-top: 10px;
  }
  .counter__reset-button {
    font-size: 20px;
    padding: 8px 16px;
  }
.counter__buttons {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: auto;
  margin-top: 20px;
  }
  .counter__button {
    width: 100%;
    margin-bottom: 10px;
  }
  }
